body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  overflow: hidden;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("your-image-url.jpg"); /* Set your background image here */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}